huggingface_hub[cli]
jupyterlab
numpy
pandas
pyarrow
pydub
tensorboard
mlflow==3.11.1
evaluate
jiwer
tqdm
peft
accelerate
pillow
aiohttp
nest_asyncio
librosa
ipywidgets
torchcodec
bitsandbytes
accelerate
unsloth==2026.4.8
unsloth_zoo==2026.4.9
litellm==1.87.0
openai